<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/icons/logo.svg" alt="" width="80" height="80" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-2xl">
        <li class="nav-item">
          <a
            class="nav-link {% if page.url == '/about/' %} active{% endif %}"
            href="/about"
          >
            Über mich
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url == '/register/' %} active{% endif %}"
            href="/register"
          >
            Anmelden
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url == '/prices/' %} active{% endif %}"
            href="/prices"
          >
            Preise
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
