@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

button {
  border-width: 0px;
}

/* homepage */

.homepage-container {
  background-image: url("/assets/images/patternpad (1).svg");
}
