<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/images/icons/logo.svg"
    />
    <link rel="icon" type="image/png" href="/assets/images/icons/logo.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    {% include "components/header.njk" %} {% if page.url == '/' %}
    {{ content | safe }}
    {% endif %} {% if page.url != '/' %}
    <main class="container">
      {{ content | safe }}
    </main>

    {% endif %} {% include "components/footer.njk" %}
  </body>
</html>
